.nav-test{
    margin-left: 750px;
    
}
.navbar-brand{
       background-color:#4aaaa5; 
       padding:20px;
       font-weight: bold;
       border-bottom:2px solid #ccc;
}
.logo{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.bg-light{
    background-color: #fff !important;
}

.nav-container{
    border-bottom:2px solid #ccc;
    margin-bottom:30px;
}
body{
    background-image: url("https://image.ibb.co/jJjBs0/leaves.png");
}
.card-heading{
    border-bottom:3px solid #ccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 32px;
    font-weight: 50px;
    color: #4aaaa5;
    background-color: #fff;
}
.card-image{
    float: left;
    max-width:200px;
    max-height:200px; 
}
img{
    max-width:200px;
    max-height:200px; 
    margin-right:10px;
    margin-top:20px;
}
p{
    margin-top:25px;
}
.card-body{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}
.footer{
    width: 100%;
    padding: 20px;
    background: #ccc;
    text-align: center;
    margin-bottom:0px;
    border-top: 8px solid #4aaaa5;
    position: fixed;
    bottom: 0;
    left:0;
    color: #777777;
    margin-top:20px;
}
.card{
    margin-bottom:80px;
}
.container{
    margin-bottom:30px;
}
.form-group{
    margin-top:20px;
}